.commentAuthor {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 0.5rem;

  h4 {
    text-transform: uppercase;
    font-size: 0.8rem;
    line-height: normal;
  }

  img {
    background-color: #ebf2fe;
    width: 2rem;
    height: 2rem;
    object-fit: cover;
    border-radius: 100%;
  }
}
