@import '@/styles/colors';
@import '@/styles/typography';
@import '@/styles/spacings';
@import '@/styles/tokens';

.commentAuthor {
  display: flex;
  align-items: center;
  gap: $spacing-default;
  margin-bottom: 0.5rem;

  h4 {
    text-transform: uppercase;
    font-size: $text-xs;
  }

  img {
    background-color: $text-blue-light;
    width: $spacing-xl;
    height: $spacing-xl;
    object-fit: cover;
    border-radius: $rounded-full;
  }
}
