@import '@/styles/colors';
@import '@/styles/typography';
@import '@/styles/spacings';
@import '@/styles/tokens';

.postCard {
  display: flex;
  flex-direction: column;
  gap: $spacing-default;

  > div {
    display: flex;
    margin: 0 auto;
    gap: $spacing-3xl;
    border-radius: $rounded-lg;
    box-sizing: border-box;
    padding: $spacing-default;
    box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 5%);

    &:hover {
      cursor: pointer;
      box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 10%);
    }

    @media (max-width: $screen-mobile) {
      flex-direction: column;
      gap: $spacing-default;
    }
  }
}

.postContainer {
  display: flex;
}

.postCardContent {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: $spacing-sm;
  gap: $spacing-default;
  color: $text-blue-dark;

  span {
    text-align: center;
    font-size: $text-xs;
    font-weight: $font-normal;
    line-height: $leading-relaxed;
    text-transform: uppercase;
  }

  h2 {
    font-size: $text-xl;
    font-weight: $font-bold;
    line-height: $leading-relaxed;
    text-transform: capitalize;
  }

  p {
    font-size: $text-lg;
    font-weight: $font-light;
    line-height: $leading-loose;
  }

  @media (max-width: $screen-mobile) {
    width: 100%;
    order: 2;
  }
}

.postCardImage {
  width: 30%;

  img {
    width: 100%;
    height: 100%;
    border-radius: $rounded-lg;
    object-fit: cover;
  }

  @media (max-width: $screen-mobile) {
    order: 1;
    width: 100%;
  }
}
