@import '@/styles/colors';
@import '@/styles/typography';
@import '@/styles/spacings';

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;

  ul {
    display: flex;
    gap: $spacing-lg;
    list-style: none;

    li {
      a {
        color: $text-white;
        text-decoration: none;
        font-weight: $font-normal;

        &:hover {
          transition: color 0.2s ease-in-out;
          color: $text-green;
        }
      }
    }
  }
}

.logo {
  font-weight: $font-extrabold;
  font-size: $text-xl;
  cursor: pointer;
  text-decoration: none;
  color: $text-white;

  span {
    vertical-align: middle;
    animation: blink 2s linear infinite;
  }

  @keyframes blink {
    0% {
      opacity: 0;
    }

    50% {
      opacity: 0.5;
    }

    100% {
      opacity: 1;
    }
  }
}
