@import '@/styles/colors';
@import '@/styles/typography';
@import '@/styles/spacings';
@import '@/styles/tokens';

.introduction {
  width: 80%;
  margin: 0 auto;
  padding-top: 11rem;
  padding-bottom: calc($spacing-3xl + $spacing-4xl);

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: $spacing-lg;

  span {
    color: $text-white;

    text-align: center;
    font-size: $text-base;
    font-style: normal;
    font-weight: $font-normal;
    line-height: $leading-relaxed;
    text-transform: uppercase;
  }

  h1 {
    color: $text-white;

    font-size: $text-3xl;
    font-style: normal;
    font-weight: $font-medium;
    letter-spacing: -0.0975rem;

    @media (max-width: $screen-mobile) {
      font-size: $text-2xl;
    }
  }
}
