@import '@/styles/colors';
@import '@/styles/typography';
@import '@/styles/spacings';
@import '@/styles/tokens';

.postsContainer {
  display: flex;
  flex-direction: column;
  gap: $spacing-default;
}

.postsSearchContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: $spacing-3xl;

  input {
    width: 50%;
  }

  span {
    padding: $spacing-sm $spacing-md $spacing-sm;
    border-radius: $rounded-lg;
    background: $bg-blue-light;
    color: $text-blue-dark;
    text-align: center;
    font-size: $text-sm;
    font-weight: $font-medium;
    line-height: $leading-relaxed;
    text-transform: uppercase;
  }
}
