@import '@/styles/spacings';
@import '@/styles/tokens';

.appLayout {
  padding: $spacing-xl;

  main {
    max-width: $default-main-width;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding-top: $spacing-3xl;
    gap: $spacing-3xl;

    @media (min-width: $screen-2k) {
      max-width: $maximum-main-width;
    }
  }

  @media (max-width: $screen-mobile) {
    padding: $spacing-md;
  }
}
