$text-green-light: #e7fcee;
$text-green: #8ceead;
$text-blue-dark: #232e52;
$text-blue-light: #ebf2fe;
$text-blue-faded: #f8faff;
$text-black: #000;
$text-gray: #d3d3d3;
$text-white: #fff;

$bg-blue-dark: #232e52;
$bg-blue-light: #ebf2fe;
