$text-sm: 0.8125rem;
$text-xs: 0.8rem;
$text-base: 1rem;
$text-lg: 1.125rem;
$text-xl: 1.75rem;
$text-2xl: 2.5rem;
$text-3xl: 3.25rem;

$font-light: 300;
$font-normal: 400;
$font-medium: 600;
$font-semibold: 700;
$font-bold: 500;
$font-extrabold: 800;

$leading-relaxed: 120%;
$leading-loose: 150%;
