@import '@/styles/colors';
@import '@/styles/typography';
@import '@/styles/spacings';
@import '@/styles/tokens';

.commentsList {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: $spacing-default;

  li {
    color: $text-blue-dark;

    font-size: $text-xs;
    font-weight: $font-light;
    line-height: $leading-loose;
    background-color: $text-blue-faded;
    border-radius: $rounded-2xl;
    padding: $spacing-default;
  }

  @media (max-width: $screen-mobile) {
    grid-template-columns: 1fr;
    order: 4;
  }
}

.commentsHeader {
  color: $text-gray;
  text-align: right;
  font-size: $text-sm;
  font-weight: $font-normal;
  text-transform: uppercase;
  margin: $spacing-default 0;

  @media (max-width: $screen-mobile) {
    grid-template-columns: 1fr;
    order: 3;
  }
}
