.commentsList {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;

  li {
    color: #232e52;

    font-size: 0.8rem;
    font-weight: 300;
    line-height: 150%;
    background-color: #f8faff;
    border-radius: 1rem;
    padding: 1rem;
  }
}

.commentsHeader {
  color: lightgray;
  text-align: right;
  font-size: 0.8125rem;
  font-weight: 400;
  text-transform: uppercase;
  margin: 1rem 0;
}
