@import '@/styles/colors';
@import '@/styles/spacings';
@import '@/styles/tokens';

.header {
  border-radius: $rounded-xl;
  background: $bg-blue-dark;
  padding: $spacing-2xl $spacing-3xl;
  color: $text-white;
}
